In [0]:
%sql

SELECT * 
FROM customers

In [0]:
%sql

SELECT * 
FROM orders

In [0]:
%sql

SELECT * 
FROM order_details

In [0]:
%sql

SELECT 
    CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
    od.product_name AS product,
    c.city AS region
FROM customers c
INNER JOIN orders o 
    ON c.customer_id = o.customer_id
INNER JOIN order_details od 
    ON o.order_id = od.order_id;

In [0]:
%sql

--Count distinct products per customer

SELECT 
    CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
    COUNT(DISTINCT od.product_name) AS total_products_purchased
FROM customers c
INNER JOIN orders o 
    ON c.customer_id = o.customer_id
INNER JOIN order_details od 
    ON o.order_id = od.order_id
GROUP BY c.customer_id, c.first_name, c.last_name;

In [0]:
%sql

--Count total product items per customer

SELECT 
    CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
    SUM(od.quantity) AS total_items_purchased
FROM customers c
INNER JOIN orders o 
    ON c.customer_id = o.customer_id
INNER JOIN order_details od 
    ON o.order_id = od.order_id
GROUP BY c.customer_id, c.first_name, c.last_name;

In [0]:
%sql

--inserting a new coloum gender

ALTER TABLE customers 
ADD COLUMN gender VARCHAR(10);

In [0]:
%sql
-- Male customers
UPDATE customers SET gender = 'Male' WHERE customer_id IN 
(1,5,7,9,10,13,15,17,19,20,22,24,26,27,29,31,33,37,38,40,42,44,46,48,50);

-- Female customers
UPDATE customers SET gender = 'Female' WHERE customer_id IN 
(2,3,4,6,8,11,12,14,16,18,21,23,25,28,30,32,34,35,36,39,41,43,45,47,49);

-- For the extra rows with duplicate IDs at bottom
UPDATE customers SET gender = 'Male'   WHERE email = 'akash@example.com';
UPDATE customers SET gender = 'Male'   WHERE email = 'ravi@example.com';
UPDATE customers SET gender = 'Female' WHERE email = 'neha@example.com';
UPDATE customers SET gender = 'Female' WHERE email = 'priya@example.com';

In [0]:
%sql

--Query female customers with purchases > 1000

SELECT DISTINCT 
    CONCAT(c.first_name, ' ', c.last_name) AS full_name,
    o.total_amount
FROM customers c
JOIN orders o 
    ON c.customer_id = o.customer_id
WHERE o.total_amount > 1000;

In [0]:
%sql

--cities with the highest total purchase amount

SELECT 
    c.city,
    SUM(o.total_amount) AS total_purchase
FROM customers c
JOIN orders o 
    ON c.customer_id = o.customer_id
GROUP BY c.city
ORDER BY total_purchase DESC;